#about {
	display: grid;
	/*grid-template-columns: 1fr;*/
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	background-image: radial-gradient(#fdf2e1, #FDF3D8);
	padding: 5%;
	padding-top : 2%;
	border: 1px solid black;
	border-radius : 2%;
}

@media screen and (min-width : 800px) {
	#about {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}

@media screen and (min-width : 1200px) {
	#about {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

@media screen and (min-width : 1500px) {
	#about {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}
}

#contact {
	display: grid;
	margin: 50px;
	padding: 20px 100px;
	background-color: #845825;
	color: #D5AF83;
}

/*changing the color of the table row with the images (the top row)*/

.contList {
	background-color: #845825;
	padding: 30px 30px;
	color: black;
}

dt,
dd {
	display: inline;
}