#browseBlocks{
     display: grid;
     grid-template-columns: 250px 1fr;
}

#browseHeader {
  background-image: linear-gradient(to bottom,#291B0B, #e4b988);
  color: white;
  height: 2000px;
  width: 200px;
}

#browseHeader h1 {
  color: white;
  font-size: 28px;
}

#browseHeader ul {
  list-style: none;
  margin-top: 20px;
}

#browseHeader li {
  margin-bottom: 12px;
}

#browseHeader a {
  color: #cbd5e1;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s ease;
}

#browseHeader a:hover {
  background: #334155;
  color: white;
  padding-left: 15px;
}
main {
  padding: 30px;

}

form {
  margin-bottom: 30px;
}

input[type="text"] {
  padding: 8px;
  width: 250px;
}

h2 {
  margin: 40px 0 15px 0;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  clear:both;
}


table {
  width: 100%;

  margin-bottom: 20px;
}

td {
  padding: 10px;
  text-align: center;
}


.bookimg {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  transition: 0.3s;
  float: left;
  margin-right: 15px
}

.bookimg:hover {
  transform: scale(1.05);
}


main {
  background: #fff3e1;
  border-radius: 20px 0 0 20px;
  box-shadow: -5px 0 20px rgba(0,0,0,0.05);
}

td {
  padding: 20px;
}

td img {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

td img:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}


