
/*feedback page*/


#details{
    width: 40%;
    margin:40px auto;
    display: flex; /*flexbox requirement #7*/
    flex-direction: column;
    gap: 12px;
}
#details button{
    width: 120px;
    margin: 15px auto 0 auto;
    padding: 8px;
    cursor: pointer;

}

#details input{
    padding: 8px;
}


#feedbackBox{
    margin-top : 30px;
    margin-left : 600px;
    margin-right : 600px;
    margin-bottom: 30px;
    padding : 20px;
    background-image: radial-gradient(#fdf2e1,#FDF3D8);
    border : solid 1px;
    background-color: #291B0B;
    border-radius: 2%;
}