.imgLogo {
    text-align: center;
}

#homeBox {
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-left: 100px;
    padding: 75px;
    background-image: radial-gradient(#fdf2e1, #FDF3D8);
    border: 1px solid black;
    border-radius: 2%;
    text-align: center;
}

@media screen and (max-size : 1000px) {
    #homeBox {
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

#b {
    border-style: inset;
}

.bookTbl {
    text-align: center;
}

h1,
h2 {
    text-align: center;
}


h2 {
    box-sizing: border-box;
    width: fit-content;
    border-style: outset;
    border-radius: 10px;

}

.paragraph {
    column-count: 1;
    column-width: 50px;

}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}