#signArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginBox {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 75px;
    background-image: radial-gradient(#fdf2e1, #FDF3D8);
    border: solid 1px;
    background-color: #291B0B;
    border-radius: 2%;
}